/* бегемот */

box-sizing: border-box;

position: relative;
width: 453px;
height: 886px;

border: 1px dashed #9747FF;
border-radius: 5px;


/* Property 1=Default */

position: absolute;
width: 413px;
height: 413px;
left: 20px;
top: 20px;



/* бегемот */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(20260329_2050_Image Generation_simple_compose_01kmxbdygqej0tbxfbwg0br6js-Photoroom.png);


/* Property 1=Variant2 */

position: absolute;
width: 413px;
height: 413px;
left: 20px;
top: 453px;



/* бегемот */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(20260329_2050_Image Generation_simple_compose_01kmxbdygqej0tbxfbwg0br6js-Photoroom.png);
