/* ПопулярныеПозиции */

box-sizing: border-box;

position: relative;
width: 1057px;
height: 664px;

border: 1px dashed #9747FF;
border-radius: 5px;


/* Property 1=Hover */

position: absolute;
width: 411px;
height: 486px;
left: calc(50% - 411px/2 + 154px);
top: 39px;



/* Популярное */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
gap: 32px;

position: absolute;
width: 411px;
height: 460px;
left: calc(50% - 411px/2);
top: 0px;

/* Warm Neutral/Surface card */
background: #FFFFFF;
box-shadow: 0px 4px 48px rgba(161, 136, 136, 0.4);
border-radius: 25px;


/* Rectangle 79 */

width: 347px;
height: 220px;

background: url(ChatGPT Image 22 апр. 2026 г., 14_32_30.png);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Текст */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 347px;
height: 76px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Гедза с курицей */

width: 347px;
height: 24px;

font-family: 'SeoulHangang';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
/* identical to box height */

/* Text colors/Основной текст */
color: #5F5A55;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Тонкое тесто, сочная куриная начинка, лёгкие специи и хрустящая обжарка. */

width: 347px;
height: 40px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 110%;
/* or 20px */

/* Text colors/Основной текст */
color: #5F5A55;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Цена */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 150px;

width: 347px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* 520 рублей */

width: 120px;
height: 22px;

font-family: 'SeoulHangang';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: 0.04em;
font-feature-settings: 'pnum' on, 'lnum' on;

/* Text colors/Основной текст */
color: #5F5A55;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* + */

width: 28px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line 2 (Stroke) */

position: absolute;
width: 28px;
height: 5.04px;
left: 281.76px;
top: 0px;

/* Warm Neutral/Surface card */
background: #FFFFFF;
border-radius: 10px;
transform: rotate(90deg);


/* Line 2 (Stroke) */

position: absolute;
width: 28px;
height: 5.04px;
left: 270px;
top: 11.2px;

/* Warm Neutral/Surface card */
background: #FFFFFF;
border-radius: 10px;
transform: rotate(-180deg);


/* Property 1=Default */

position: absolute;
width: 411px;
height: 486px;
left: calc(50% - 411px/2 - 294px);
top: 39px;



/* Популярное */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
gap: 32px;

position: absolute;
width: 411px;
height: 460px;
left: calc(50% - 411px/2);
top: 26px;

/* Warm Neutral/Surface card */
background: #FFFFFF;
box-shadow: 0px 4px 45px rgba(161, 136, 136, 0.22);
border-radius: 25px;


/* Rectangle 79 */

width: 347px;
height: 220px;

background: url(ChatGPT Image 22 апр. 2026 г., 14_32_30.png);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Текст */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 347px;
height: 76px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Гедза с курицей */

width: 347px;
height: 24px;

font-family: 'SeoulHangang';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
/* identical to box height */

/* Text colors/Основной текст */
color: #5F5A55;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Тонкое тесто, сочная куриная начинка, лёгкие специи и хрустящая обжарка. */

width: 347px;
height: 40px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 110%;
/* or 20px */

/* Text colors/Основной текст */
color: #5F5A55;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Цена */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 150px;

width: 347px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* 520 рублей */

width: 120px;
height: 22px;

font-family: 'SeoulHangang';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: 0.04em;
font-feature-settings: 'pnum' on, 'lnum' on;

/* Text colors/Основной текст */
color: #5F5A55;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* + */

width: 28px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line 2 (Stroke) */

position: absolute;
width: 28px;
height: 5.04px;
left: 281.76px;
top: 0px;

/* Warm Neutral/Surface card */
background: #FFFFFF;
border-radius: 10px;
transform: rotate(90deg);


/* Line 2 (Stroke) */

position: absolute;
width: 28px;
height: 5.04px;
left: 270px;
top: 11.2px;

/* Warm Neutral/Surface card */
background: #FFFFFF;
border-radius: 10px;
transform: rotate(-180deg);
