/* Преимущества */

box-sizing: border-box;

position: relative;
width: 415px;
height: 1294px;

border: 1px dashed #9747FF;
border-radius: 5px;


/* Property 1=Default */

position: absolute;
width: 375px;
height: 617px;
left: 20px;
top: 20px;



/* Лепка */

position: absolute;
width: 375px;
height: 591px;
left: 0px;
top: 26px;



/* Карточка */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 80px 32px 32px;
gap: 24px;
isolation: isolate;

position: absolute;
width: 375px;
height: 540px;
left: calc(50% - 375px/2);
top: 77px;

filter: drop-shadow(0px 4px 45px rgba(161, 136, 136, 0.22));


/* Subtract */

position: absolute;
width: 375px;
height: 540px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-radius: 15px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Rectangle 120 */

position: absolute;
width: 375px;
height: 540px;
left: 0px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 4px 45px rgba(161, 136, 136, 0.22);
border-radius: 25px;


/* Ellipse 56 */

position: absolute;
width: 126px;
height: 126px;
left: 124px;
top: -63px;

background: #D9D9D9;


/* Frame 18 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 4px;

width: 311px;
height: 68px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* Ручная лепка */

width: 151px;
height: 24px;

font-family: 'SeoulHangang';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
/* identical to box height */
text-align: center;

/* Text colors/Основной текст */
color: #5F5A55;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Традиционная лепка с вниманием к деталям */

width: 311px;
height: 40px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 110%;
/* or 20px */
text-align: center;

/* Text colors/Основной текст */
color: #5F5A55;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Rectangle 121 */

width: 311px;
height: 311px;

background: url(ChatGPT Image 26 апр. 2026 г., 23_28_09.png);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 2;


/* Иконка */

position: absolute;
width: 102.05px;
height: 102.05px;
left: 136px;
top: 26px;

border-radius: 84px;


/* Rectangle 89 */

position: absolute;
width: 102.05px;
height: 102.05px;
left: calc(50% - 102.05px/2 - 0.47px);
top: 26px;

background: #FFFFFF;
border-radius: 999px;


/* Лепка */

position: absolute;
width: 72px;
height: 72px;
left: 151px;
top: 41px;



/* Vector */

box-sizing: border-box;

position: absolute;
width: 59.69px;
height: 58.27px;
left: calc(50% - 59.69px/2 - 0.16px);
top: calc(50% - 58.27px/2 + 0.13px);

/* Primary Green/500 */
background: #737B5F;
/* Primary Green/500 */
border: 25px solid #737B5F;


/* Property 1=Hovering */

position: absolute;
width: 375px;
height: 617px;
left: 20px;
top: 657px;



/* Лепка */

position: absolute;
width: 375px;
height: 591px;
left: 0px;
top: 0px;



/* Карточка */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 80px 32px 32px;
gap: 24px;
isolation: isolate;

position: absolute;
width: 375px;
height: 540px;
left: calc(50% - 375px/2);
top: 51px;

filter: drop-shadow(0px 4px 48px rgba(161, 136, 136, 0.4));


/* Subtract */

position: absolute;
width: 375px;
height: 540px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-radius: 15px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Rectangle 120 */

position: absolute;
width: 375px;
height: 540px;
left: 0px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 4px 45px rgba(161, 136, 136, 0.22);
border-radius: 25px;


/* Ellipse 56 */

position: absolute;
width: 126px;
height: 126px;
left: 124px;
top: -63px;

background: #D9D9D9;


/* Frame 18 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 4px;

width: 311px;
height: 68px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* Ручная лепка */

width: 151px;
height: 24px;

font-family: 'SeoulHangang';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
/* identical to box height */
text-align: center;

/* Text colors/Основной текст */
color: #5F5A55;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Традиционная лепка с вниманием к деталям */

width: 311px;
height: 40px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 110%;
/* or 20px */
text-align: center;

/* Text colors/Основной текст */
color: #5F5A55;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Rectangle 121 */

width: 311px;
height: 311px;

background: url(ChatGPT Image 26 апр. 2026 г., 23_28_09.png);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 2;


/* Иконка */

position: absolute;
width: 102.05px;
height: 102.05px;
left: 136px;
top: 0px;

border-radius: 84px;


/* Rectangle 89 */

position: absolute;
width: 102.05px;
height: 102.05px;
left: calc(50% - 102.05px/2 - 0.47px);
top: 0px;

background: #FFFFFF;
border-radius: 999px;


/* Лепка */

position: absolute;
width: 72px;
height: 72px;
left: 151px;
top: 15px;

filter: drop-shadow(0px 0px 10.9px rgba(233, 255, 173, 0.53));


/* Vector */

box-sizing: border-box;

position: absolute;
width: 59.69px;
height: 58.27px;
left: calc(50% - 59.69px/2 - 0.16px);
top: calc(50% - 58.27px/2 + 0.13px);

/* Primary Green/400 */
background: #9AA67C;
/* Primary Green/400 */
border: 25px solid #9AA67C;
