/* Кнопочка */

box-sizing: border-box;

position: relative;
width: 1103px;
height: 536px;

border: 1px dashed #9747FF;
border-radius: 5px;


/* Type=Primary, State=Default */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 36px;
gap: 16px;

position: absolute;
width: 261px;
height: 65px;
left: 20px;
top: 20px;

/* Primary Green/500 */
background: #737B5F;
box-shadow: 0px 6px 18px rgba(84, 87, 75, 0.12);
border-radius: 999px;


/* Больше фото */

width: 148px;
height: 22px;

font-family: 'SeoulHangang';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

/* Text colors/На зелёном фоне */
color: #F5F0E8;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* VectorArrow */

width: 25px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16%;
right: 24%;
top: 0%;
bottom: 0%;

/* Text colors/На зелёном фоне */
background: #F5F0E8;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Type=Primary, State=Hover */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 36px;
gap: 16px;

position: absolute;
width: 261px;
height: 65px;
left: 300px;
top: 20px;

/* Primary Green/600 */
background: #626A51;
box-shadow: 0px 8px 24px rgba(84, 87, 75, 0.14);
border-radius: 999px;


/* Больше фото */

width: 148px;
height: 22px;

font-family: 'SeoulHangang';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

/* Text colors/На зелёном фоне */
color: #F5F0E8;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* VectorArrow */

width: 25px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16%;
right: 24%;
top: 0%;
bottom: 0%;

/* Text colors/На зелёном фоне */
background: #F5F0E8;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Type=Primary, State=Pressed */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 36px;
gap: 16px;

position: absolute;
width: 261px;
height: 65px;
left: 580px;
top: 20px;

/* Primary Green/700 */
background: #4F5641;
box-shadow: 0px 2px 8px rgba(84, 87, 75, 0.1);
border-radius: 999px;


/* Больше фото */

width: 148px;
height: 22px;

font-family: 'SeoulHangang';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

/* Text colors/На зелёном фоне */
color: #F5F0E8;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* VectorArrow */

width: 25px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16%;
right: 24%;
top: 0%;
bottom: 0%;

/* Text colors/На зелёном фоне */
background: #F5F0E8;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Type=Secondary, State=Default */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 36px;
gap: 16px;

position: absolute;
width: 331px;
height: 76px;
left: calc(50% - 331px/2 - 366px);
top: 105px;

/* Warm Neutral/Surface card */
background: #FFFFFF;
box-shadow: 0px 4px 35px 13px rgba(255, 255, 255, 0.4);
border-radius: 999px;


/* VectorArrow */

width: 25px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16%;
right: 24%;
top: 0%;
bottom: 0%;

/* Primary Green/500 */
background: #737B5F;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Больше фото */

width: 218px;
height: 36px;

font-family: 'SeoulHangang CBL';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 36px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

/* Primary Green/500 */
color: #737B5F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Type=Secondary, State=Pressed */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 36px;
gap: 16px;

position: absolute;
width: 331px;
height: 76px;
left: calc(50% - 331px/2 + 338px);
top: 105px;

/* Primary Green/100 */
background: #E8ECDF;
box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.1);
border-radius: 999px;


/* VectorArrow */

width: 25px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16%;
right: 24%;
top: 0%;
bottom: 0%;

/* Primary Green/500 */
background: #737B5F;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Больше фото */

width: 218px;
height: 36px;

font-family: 'SeoulHangang CBL';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 36px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

/* Primary Green/500 */
color: #737B5F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Type=Secondary, State=Hover */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 36px;
gap: 16px;

position: absolute;
width: 331px;
height: 76px;
left: calc(50% - 331px/2 - 14px);
top: 105px;

/* Warm Neutral/Surface soft */
background: #F9F5F0;
box-shadow: 0px 8px 24px rgba(255, 255, 255, 0.14);
border-radius: 999px;


/* VectorArrow */

width: 25px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16%;
right: 24%;
top: 0%;
bottom: 0%;

/* Primary Green/500 */
background: #737B5F;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Больше фото */

width: 218px;
height: 36px;

font-family: 'SeoulHangang CBL';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 36px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

/* Primary Green/500 */
color: #737B5F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Type=Brown, State=Default */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 36px;
gap: 16px;

position: absolute;
width: 261px;
height: 65px;
left: calc(50% - 261px/2 - 401px);
top: 203px;

/* Brown Accent/Wood */
background: #A18888;
box-shadow: 0px 6px 18px rgba(74, 61, 61, 0.12);
border-radius: 999px;


/* Больше фото */

width: 148px;
height: 22px;

font-family: 'SeoulHangang';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

/* Text colors/Белый */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* VectorArrow */

width: 25px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16%;
right: 24%;
top: 0%;
bottom: 0%;

/* Text colors/Белый */
background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Type=Brown, State=Hover */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 36px;
gap: 16px;

position: absolute;
width: 261px;
height: 65px;
left: calc(50% - 261px/2 - 121px);
top: 203px;

/* Brown Accent/Hover brown */
background: #8C7474;
box-shadow: 0px 8px 24px rgba(74, 61, 61, 0.14);
border-radius: 999px;


/* Больше фото */

width: 148px;
height: 22px;

font-family: 'SeoulHangang';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

/* Text colors/Белый */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* VectorArrow */

width: 25px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16%;
right: 24%;
top: 0%;
bottom: 0%;

/* Text colors/Белый */
background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Type=Brown, State=Pressed */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 36px;
gap: 16px;

position: absolute;
width: 261px;
height: 65px;
left: calc(50% - 261px/2 + 159px);
top: 203px;

/* Brown Accent/Dark warm text */
background: #5F4E4E;
box-shadow: 0px 2px 8px rgba(74, 61, 61, 0.1);
border-radius: 999px;


/* Больше фото */

width: 148px;
height: 22px;

font-family: 'SeoulHangang';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

/* Text colors/Белый */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* VectorArrow */

width: 25px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16%;
right: 24%;
top: 0%;
bottom: 0%;

/* Text colors/Белый */
background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);
