/* Категории */

box-sizing: border-box;

position: relative;
width: 453.06px;
height: 787.7px;

border: 1px dashed #9747FF;
border-radius: 5px;


/* Property 1=Default */

position: absolute;
width: 411px;
height: 235px;
left: calc(50% - 411px/2 - 1.03px);
top: 20px;



/* Картинка */

position: absolute;
width: 411px;
height: 235px;
left: 0px;
top: 0px;

background: url(ChatGPT Image 27 апр. 2026 г., 00_44_30.png);
border-radius: 25px;


/* Карточка */

position: absolute;
width: 411px;
height: 235px;
left: 0px;
top: 0px;

background: rgba(79, 86, 65, 0.5);
border-radius: 25px;


/* Текст */

position: absolute;
left: 43.07%;
right: 43.07%;
top: 45.11%;
bottom: 44.68%;

font-family: 'SeoulHangang CBL';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
/* identical to box height */
text-align: center;

/* Text colors/Белый */
color: #FFFFFF;



/* Property 1=Pressed */

position: absolute;
width: 406.89px;
height: 232.65px;
left: calc(50% - 406.89px/2 - 1.03px);
top: 531.52px;



/* Картинка */

position: absolute;
width: 406.89px;
height: 232.65px;
left: 0px;
top: 0px;

background: url(ChatGPT Image 27 апр. 2026 г., 00_44_30.png);
border-radius: 24.75px;


/* Карточка */

position: absolute;
width: 406.89px;
height: 232.65px;
left: 0px;
top: 0px;

background: rgba(79, 86, 65, 0.55);
border-radius: 24.75px;


/* Текст */

position: absolute;
left: 43%;
right: 43.24%;
top: 46.63%;
bottom: 43.06%;

font-family: 'SeoulHangang CBL';
font-style: normal;
font-weight: 400;
font-size: 23.76px;
line-height: 24px;
/* identical to box height */
text-align: center;

/* Text colors/Белый */
color: #FFFFFF;



/* Property 1=Hovering */

position: absolute;
width: 415.11px;
height: 237.35px;
left: calc(50% - 415.11px/2 - 1.03px);
top: 274px;

filter: drop-shadow(0px 0px 18px rgba(161, 136, 136, 0.4));


/* Картинка */

position: absolute;
width: 415.11px;
height: 237.35px;
left: 0px;
top: 0px;

background: url(ChatGPT Image 27 апр. 2026 г., 00_44_30.png);
border-radius: 25.25px;


/* Карточка */

position: absolute;
width: 415.11px;
height: 237.35px;
left: 0px;
top: 0px;

background: rgba(79, 86, 65, 0.35);
border-radius: 25.25px;


/* Текст */

position: absolute;
left: 43.07%;
right: 43.2%;
top: 45.11%;
bottom: 44.78%;

font-family: 'SeoulHangang CBL';
font-style: normal;
font-weight: 400;
font-size: 24.24px;
line-height: 24px;
text-align: center;

/* Text colors/Белый */
color: #FFFFFF;

